:root {
  --primary-color: #008080 !important;
  --secondary-color: #0076ba !important;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Nunito", sans-serif;
  --text-light: #fef9f1;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-shadow: 1px 1px 2px rgb(160, 160, 160);
}
body {
  background-color: var(--primary-color);
  font-family: var(--default-font-family);
  color: var(--text-light);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  text-shadow: var(--text-shadow);
  line-height: 1.5;
}
h1 {
  font-size: 60px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
h2 {
  font-size: 28px;
}
ul {
  padding: 24px;
  margin: 0;
}
a {
  font-weight: 750;
  color: var(--text-light);
  text-decoration: none;
  text-shadow: var(--text-shadow);
}
p {
  font-size: 14px;
}
footer {
  margin-left: 24px;
  margin-right: 24px;
}
.ljf-logo {
  max-height: 42px;
  max-width: 100%;
  border: 3px solid var(--text-light);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.hero {
  padding-bottom: 96px;
}
.hero-inner {
  margin: 106px 140px;
  gap: 32px;
}
.hero-title {
  font-size: 72px;
}
.hero-image,
.about-image {
  max-height: 350px;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}
.project-card {
  height: 100%;
  padding-bottom: 36px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}
.project-image {
  height: auto;
  max-width: 100%;
  padding: 24px;
  border-radius: 36px;
}
.project-description {
  padding: 0 36px;
}
.project-button {
  padding: 16px 20px;
  border-radius: 16px;
  background-color: #0076ba;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
}

.about-inner {
  margin: 42px 156px 42px;
  gap: 56px;
}
.down-icon {
  font-size: 36px;
  color: rgba(254, 249, 241, 0.8);
}
.toolkit-title {
  letter-spacing: 0.2em;
}
.about-toolkit-box {
  width: fit-content;
  margin: 0 auto;
  padding: 18px 36px;
  border-radius: 24px;
  background-color: rgba(254, 249, 241, 0.8);
  box-shadow: var(--box-shadow);
}
.toolkit {
  margin: 0 auto;
  gap: 4px;
  justify-content: center;
}
.skills li {
  list-style: none;
  text-align: center;
}
.skills-text {
  padding: 2px 4px;
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 8px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}
.skills img {
  max-height: 52px;
  max-width: 52px;
}
.project-links {
  gap: 24px;
}
.external-logos {
  max-width: 100%;
  max-height: 48px;
}

.contact-inner {
  margin: 76px 48px 182px;
  gap: 112px;
}
.hello-box {
  padding: 48px;
  border-radius: 50%;
  background-color: rgb(1, 189, 186, 0.5);
  box-shadow: var(--box-shadow);
}
.hello-text {
  font-weight: 400;
  font-size: 146px;
  font-style: italic;
}
.contact-heading {
  font-family: var(--default-font-family);
  font-size: 40px;
  text-transform: lowercase;
}
.about-links {
  gap: 72px;
  font-size: 48px;
}

.personal-links {
  gap: 96px;
  font-size: 48px;
}

.down-pointer {
  font-size: 20px;
}
.coding-links {
  padding: 12px 24px;
  gap: 36px;
  border-radius: 24px;
  background-color: rgba(254, 249, 241, 0.8);
  box-shadow: var(--box-shadow);
}

.footer-email-box {
  gap: 10px;
}
.footer-email-icon {
  font-size: 28px;
}
.footer-email-link {
  font-size: 18px;
}
.footer-logos {
  max-height: 42px;
  max-width: 100%;
}
.linkedin-logo {
  font-size: 42px;
}
.footer-paragraph {
  max-width: 100%;
  margin: 12px auto;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: rgba(1, 189, 186, 0.5);
  font-size: 12px;
}
.footer-paragraph a {
  font-weight: 600;
}

.about-hobby-images {
  gap: 36px;
}
.hobby-image-4-3 {
  max-width: 153px;
  max-height: 100%;
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(1, 189, 186, 0.5);
  box-shadow: var(--box-shadow);
}
.hobby-image-3-4 {
  max-height: 153px;
  max-width: 100%;
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(1, 189, 186, 0.5);
  box-shadow: var(--box-shadow);
}
@media (min-width: 385px) and (max-width: 992px) {
  .lj-pole-image {
    margin-bottom: -51px;
  }
}
@media (max-width: 447px) {
  .footer-paragraph {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  .footer-email-link {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-hobby-images {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  ul {
    padding: 12px;
  }
  p {
    font-size: 14px;
  }
  .hero {
    padding-bottom: 24px;
  }

  .hero-inner {
    flex-direction: column-reverse;
  }
  .hero-inner,
  .about-inner {
    margin: 16px auto;
    padding: 12px 6px;
  }
  .hero-title {
    font-size: 60px;
  }
  .hero-text,
  .about-text {
    text-align: center;
  }
  .hero-image,
  .about-image {
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
  }
  .project-card {
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }
  .project-description {
    margin-top: 16px;
  }

  .about-inner {
    flex-direction: column;
  }
  .about-hobby-images {
    gap: 10px;
    flex-wrap: wrap;
  }

  .toolkit {
    gap: 4px;
  }
  .skills-text {
    display: none;
  }
  .project-link {
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
  }
  .project-links {
    gap: 12px;
  }
  .external-logos {
    height: 32px;
    width: 100%;
  }

  .contact-inner {
    flex-direction: column;
    gap: 48px;
  }
  .hello-text {
    font-size: 116px;
  }
  .contact-links {
    margin-top: 24px;
  }
  .contact-heading {
    font-size: 32px;
  }
  .personal-links {
    font-size: 42px;
  }
  .coding-links {
    padding: 8px 16px;
    gap: 14px;
    border-radius: 12px;
  }

  .footer-paragraph {
    display: column;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .hero-inner {
    margin: 144px 48px;
  }
  .about-inner {
    margin: 86px 48px 44px;
  }
}
